tensorflow==2.12.0
tensorboard==2.12.3
keras==2.12.0

transformers==4.44.2
numpy==1.23.5
pandas==1.5.3
requests
nltk
rouge_score==0.1.2
jiwer==3.0.5
json5  
opencv-python
mediapipe
pytube
ipython
dlib

ftfy==6.3.0 
mpmath==1.3.0 
networkx==3.4.1 
openai-clip==1.0.1

scikit-image==0.23.2
scikit-learn==1.3.2
scipy==1.13.1
sympy==1.13.1
requests==2.32.3
requirements-parser==0.9.0
regex==2024.5.15
pydot==1.4.2
pyarrow==17.0.0
Pillow==9.4.0
pip-tools==7.4.1
packaging==24.1
opencv-python==4.10.0.84
sklearn-pandas
setuptools==71.0.4
scipy==1.13.1
seaborn==0.13.1
matplotlib==3.7.1
ipykernel==5.5.6
ipython==7.34.0
datasets==2.21.0
tf_keras
umap-learn==0.5.6 
xgboost==2.0.3
tensorrt
keras_tuner==1.4.7
gdown
torch

tfrecord
gymnasium
pyrsdameraulevenshtein





